<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home page with Express</title>
  </head>
  <body>
    {{> header}}
    <p>Welcome to the home page with express and hbs</p>
    <p>{{screamIt pageTitle}}</p>
    {{> footer}}
  </body>
</html>
