<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maintenance Page</title>
  </head>
  <body>
    <header>
      <h1>Maintenance Mode</h1>
    </header>
    <p><strong>The site is currently in maintenance mode</strong></p>
    {{> footer}}
  </body>
</html>
