<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The project page</title>
  </head>
  <body>
    {{> header}}
    <p>Welcome to the project page</p>
    {{> footer}}
  </body>
</html>
